/* Write your CSS here! */
body {
    margin: 8px;
    display: block;
}
p {
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-left: 8px;
  }

  #testP {
    color: green;
 }

 .funParagraph {
    color: green
 }
 

 #mainHeading {
    color: red
 }